# Auto-created directories
.DS_Store
._.DS_Store
.vscode/

# Executable
bin/
obj/

# Traces (CloudSuite traces included in repo for network accessibility)
dpc3_traces/
traces/*
!traces/cassandra_phase0_core0.trace.xz
!traces/nutch_phase0_core0.trace.xz
!traces/streaming_phase0_core1.trace.xz
cvp1_traces/

# Run directory
runs/

# Others  
tracer/obj-intel64/
tags
*.out
libbf/

方案设计
TsetlinMachine